body {
    background-color: #161616;
}

.contact-infopage {
    padding: 40px 40px;
    padding-top: 60px;
}

h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.contact-container {
    border-top: 1px white solid;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.contact-left {
    color: #D5D30F;
    font-family: Oswald;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    text-align: start;
    letter-spacing: 2px;
    max-width: 450px;
    padding-top: 20px;

}

.contact-right {
    color: white;
    font-family: Roboto;
    font-weight: bold;
}

.member-name {
    color: #D5D30F;
    font-family: Roboto Roman;
    padding-bottom: 10px;
    padding-top: 20px;
}

.member-email {
    text-decoration: underline;
    padding-bottom: 5px;
}

.member-phonenum {
    border-bottom: 1px white solid;
    width: 500px;
    padding-bottom: 20px;
    text-decoration: underline;
}

@media screen and (max-width: 990px) {
    .contact-infopage {
        padding: 40px 40px;
        padding-top: 60px;
    }

    h1 {
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
        font-size: 48px;
    }

    .contact-container {
        border-top: 1px white solid;
        border-width: 100%;
        display: inline;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        padding-bottom: 60px;
    }

    .contact-left {
        color: #D5D30F;
        font-family: Oswald;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        text-align: start;
        letter-spacing: 2px;
        max-width: 450px;
        padding-top: 20px;
        padding-bottom: 60px;
        line-height: 50px;
        border-bottom: 1px white solid;
    }

    .contact-right {
        color: white;
        font-family: Roboto;
        font-weight: bold;
        text-align: center;
    }

    .member-name {
        color: #D5D30F;
        font-family: Roboto Roman;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .member-email {
        text-decoration: underline;
        padding-bottom: 5px;
    }

    .member-phonenum {
        border-bottom: 1px white solid;
        width: 500px;
        padding-bottom: 20px;
        text-decoration: underline;
    }
}