body {
    background-color: #161616;
}

.contact-page {
    padding: 40px 40px;
    padding-top: 80px;
}

h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.forms {
    display: inline;
}

input[type=text],
select {
    background-color: #4F5051;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    justify-content: center;
    border: 1px solid white;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #4F5051;
    color: #D5D30F;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #D5D30F;
}

input[type=submit]:hover {
    background-color: #D5D30F;
    color: #161616;
}

@media screen and (max-width: 990px) {
    .contact-infopage {
        display: block;
        justify-content: center;
        padding: 40px 40px;
        padding-top: 60px;
    }

    h1 {
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
        font-size: 48px;
    }


}