.hero {
    height: 750px;
    width: 100%;
    padding-top: 100px;
    margin-left: -8pt;
    margin-right: -8pt;
    align-items: center;
}

.herocontainer {
    margin: auto;
    width: 50%;
    height: 150px;
    align-items: center;
    justify-items: center;
}

.herocontainert {
    margin-top: -5px;
    margin-bottom: -5px;
    width: 90%;
    text-align: center;
}

.herobutton {
    padding-left: 15px;
    padding-right: 15px;
}

.background {
    width: auto;
    height: 800px;
    background-image: url('https://www.postmalone.com/files/2024/06/pm-poster-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -112px;
    margin-left: -8px;
    margin-right: -8px;
}

.blackgradient {
    background: linear-gradient(180deg, #161616 0%, rgba(33, 33, 33, 0.00) 100%);
    width: 100%;
}

.herotitlecontainer {
    height: 100px;
}

.title {
    width: 100%;
    margin-top: 170px;
    color: #D5D30F;
    font-family: Oswald;
    font-size: 220px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: -4.44px;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}

/* about */
.aboutsection {
    background: #161616;
    padding-top: 15px;
    height: 766px;
    margin-left: -8px;
    margin-right: -8px;
    z-index: -1;
}

.aboutcontainer {
    height: 205px;
    margin-top: 76px;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutcontainerlt {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.aboutcontainerright {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutcontainerrt {
    align-items: end;
    width: 387px;
    letter-spacing: 0.7px;
}

.aboutcontainerrb {
    align-items: end;
    width: 387px;
    letter-spacing: 0.7px;
}

.aboutpmmargintop {
    margin-top: 23px;
}

.carouselcontainer {
    padding-top: 49px;
    max-width: 100%;
    overflow: hidden;
}

.aboutswiperwrapper {
    gap: 10px;
    display: flex;
    flex-direction: row;
}


/* music */
.musicsection {
    background: #161616;
    padding-top: 15px;
    height: 766px;
    margin-left: -8px;
    margin-right: -8px;
    z-index: -1;
    height: 800px;
    justify-items: center;
}

.musiccontainer {
    height: 125px;
    margin-top: 76px;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.musicswiperwrapper {
    display: flex;
    flex-direction: row;
}

.swiper {
    width: 100%;
    height: 470px;
}

.musicswipermargintop {
    margin-top: 19px;
}

.swiper-slide {
    border: none;
    outline: none;
    background-color: #161616;
    width: 390px;
    height: 300px;
    display: flex;

    .mcdetails {
        width: 353px;
        height: 102px;
    }

    .musiccontainert {
        display: flex;
        justify-content: space-between;
    }

    .mcstroke {
        width: 353px;
        border: 1px solid #ebebeb;
        margin-top: -5px;
        margin-bottom: -5px;
    }

    .musictitle {
        color: #D5D30F;
        font-weight: 700;
    }
}

.swiper-slide:hover {
    background-color: #D5D30F;

    .mcdetails {
        width: 353px;
        height: 102px;
    }

    .mcstroke {
        border: 1px solid #161616;
    }

    .musictitle {
        color: #161616;
    }

    .musictext {
        color: #161616
    }
}

.swiper-slide {
    display: flex;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}


/* tour */
.toursection {
    background-color: #161616;
    height: 800px;
    margin-left: -8px;
    margin-right: -8px;
    align-items: center;
    justify-items: center;
}

.tourcontainer {
    padding-top: 50px;
    height: 100%;
    justify-items: center;
    align-items: center;
}

.tourcontainert {
    text-align: center;
}

.tourcontainerb {
    padding-top: 80px;
    justify-items: center;
}

.tourbackground {
    width: 100%;
    height: 100%;
    background-image: url('http://127.0.0.1:5500/web/images/tour/tour1.jpeg');
    background-repeat: no-repeat;
    background-position: center 0px;
    margin-left: -8px;
    margin-right: -8px;
}

.subvideo {
    display: block;
}

.display {
    display: block;
}

@media screen and (max-width: 700px) {
    .submenu {
        display: none;
    }

    .title {
        font-size: 88px;
        margin-top: 150px;
        text-align: center;
    }

    .herocontainer {
        margin-top: 230px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .aboutsection {
        height: 900px;
    }

    .aboutcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    /* music container */

    .musicsection {
        height: fit-content;
        padding-bottom: 100px;
    }

    .swiper {
        height: fit-content;
    }

    .musicswiperwrapper {
        display: flex;
        flex-direction: column;
    }

    .swiper-slide {
        display: flex;
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;
    }

    .swiper-slide {
        width: 390px;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-items: center;

        .mcdetails {
            width: 400px;
            height: fit-content;
        }

        .musiccontainert {
            display: flex;
            justify-content: space-between;
        }

        .mcstroke {
            width: 400px;
            border: 1px solid #ebebeb;
            margin-top: -5px;
            margin-bottom: -5px;
        }

        .musictitle {
            color: #D5D30F;
            font-weight: 700;
            text-align: left;
        }
    }

    .swiper-slide:hover {
        .mcdetails {
            width: 400px;
            height: fit-content;
        }

        .musiccontainert {
            display: flex;
            justify-content: space-between;
        }

        .mcstroke {
            width: 400px;
            border: 1px solid #161616;
            margin-top: -5px;
            margin-bottom: -5px;
        }

        .musictitle {
            color: #161616;
            font-weight: 700;
            text-align: left;
        }
    }
}