.herocontainer {
    height: 95%;
    align-self: center;
    padding-top: 80px;
}

.herocontainerb {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.herotextmargin {
    margin: 0px;
}

.background {
    background-image: url('https://ongzhihan.github.io//web/images/homepage/homehero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 740px;
    display: grid;
}

.backgroundcontainer {
    width: 100%;
    height: 100%;
}

.herotitlecontainer {
    padding-top: 5px;
}

.title {
    color: #D5D30F;
    font-family: Oswald;
    font-size: 13em;
    font-weight: 700;
    line-height: 200px;
    letter-spacing: -7.74px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
}

/* about */
.aboutsection {
    background: #161616;
    padding-top: 15px;
    padding-bottom: 75px;
}

.aboutcontainer {
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 76px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutcontainerlt {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.aboutcontainerright {
    display: flex;
    width: 40%;
    flex-direction: column;
    padding-left: 10px;
}

.aboutcontainerrt {
    align-items: end;
    letter-spacing: 0.7px;
    line-height: 20px;
}

.aboutcontainerrb {
    width: 100%;
    align-items: end;
}

.aboutpmmargintop {
    margin-top: 23px;
}

.carouselcontainer {
    padding-top: 70px;
    max-width: 100%;
    overflow: hidden;
}

.aboutswiperwrapper {
    display: flex;
    flex-direction: row;
}

.aboutslide {
    padding-left: 7px;
    padding-right: 7px;
}


/* music */
.musicsection {
    background: #161616;
    padding-top: 15px;
    padding-bottom: 75px;
}

.musiccontainer {
    height: fit-content;
    padding: 20px;
    margin-top: 76px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.musicarrow {
    display: flex;
    gap: 20px;
    align-self: flex-end;
}

.musicswiperwrapper {
    display: flex;
    flex-direction: row;
}

.musicswiper {
    height: fit-content;
    display: flex;
}

.musicswipermargintop {
    margin-top: 19px;
}

.musicslidecontainer {
    width: 420px !important;
    border: none;
    outline: none;
    background-color: #161616;
    padding: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .mcdetails {
        padding-top: 20px;
    }

    .musiccontainert {
        display: flex;
        justify-content: space-between;
    }

    .mcstroke {
        width: 420px;
        border: 1px solid #ebebeb;
        margin-top: -5px;
        margin-bottom: -5px;
        transition: 1s;
    }

    .musictitle {
        color: #D5D30F;
        font-weight: 700;
        transition: 1s;
    }

    .musictext {
        transition: 1s;
    }
}

.musicslidecontainer:hover {
    transition: 0.8s;

    .mcstroke {
        border: 1px solid #161616;
    }

    .musictitle {
        color: #161616;
    }

    .musictext {
        color: #161616;
    }
}

.musicslidecontainer::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #D5D30F;
    z-index: -1;
    transition: 0.8s;
}

.musicslidecontainer:hover::before {
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

/* tour */
.toursection {
    min-height: 680px;
    padding-top: 15px;
    padding-bottom: 75px;
    display: grid;
}

.tourcontainer {
    padding-bottom: 70px;
    height: 480px;
    align-self: center;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tourcontainert {
    text-align: center;
}

.tourcontainerb {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
}

.tourbackground {
    width: 100%;
    background-image: url('https://ongzhihan.github.io//web/images/homepage/hometour.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
}

.toursubtitle {
    color: #ebebeb;
}

.tourtext {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* video */
.videosection {
    background-color: #161616;
    height: fit-content;
    padding-bottom: 100px;
    justify-items: center;
    overflow: hidden;
}

.videocontainer {
    padding-top: 50px;
    width: 100%;
    justify-items: center;
    display: grid;
    justify-content: center;
}

.videoslider {
    display: flex;
    flex-direction: row;
    width: fit-content;
    overflow: hidden;
}

.videovideocontainer {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

}

.videovideo {
    padding: 3%;
    margin: 0px;
    width: 90%;
}

.videosubvideo {
    display: block;
    width: 30%;
}

.videocontainerb {
    padding-top: 20px;
    width: 70%;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.mainvideo {
    width: 100%;
    padding-bottom: 20px;
}

.videoname {
    padding-top: 20px;
    min-height: 80px;
}

.videosubtitle {
    margin: 5px;
    padding: 10px;
    font-weight: 700;
}

.videodescription {
    width: 90%;
    min-height: 80px;
    margin-top: 5px;
    color: #A3A3A3;
    letter-spacing: 1px;
}

.videobutton {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 10px;
}

.subvideo {
    display: block;
}

/* other */
.displaygrid {
    width: 100%;
    display: grid;
}

.musicbutton {
    justify-self: center;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 700px) {
    .background {
        background-image: url('https://www.postmalone.com/files/2024/06/pm-poster-scaled.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 740px;
        display: grid;
    }

    .herocontainer {
        height: 95%;
        align-self: center;
        display: grid;
    }

    .herocontainerb {
        padding-bottom: 90px;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .herotextmargin {
        margin: 0px;
    }

    .backgroundcontainer {
        width: 100%;
        height: 100%;
    }

    .herotitlecontainer {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .title {
        font-size: 6em;
        line-height: 100px;
        letter-spacing: -2.74px;
    }

    /* about */

    .aboutsection {
        height: fit-content;
        background: #161616;
        padding-top: 5px;
        padding-bottom: 55px;
    }

    .aboutcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .aboutcontainerright {
        display: flex;
        width: 95%;
        flex-direction: column;
        justify-content: space-around;
    }

    /* music */
    .music-slick-slider {
        display: none;
    }

    .musiccontainer {
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .musicsection {
        background: #161616;
        padding-top: 15px;
        padding-bottom: 75px;
    }

    .musiccontainer {
        height: fit-content;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
    }

    .musicarrow {
        display: none;
    }

    .musicswiper {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        align-items: center;
    }

    .swiper {
        padding-left: 0px;
    }

    .musicswipermargintop {
        margin-top: 19px;
        width: 95%;
    }

    .musicslidecontainer {
        margin-top: 20px;

        a {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            margin-left: 0px;
            margin-right: 0px;

            .mcdetails {
                padding-top: 20px;
                width: 95%;
            }

            .musiccontainert {
                display: flex;
                justify-content: space-between;
            }

            .mcstroke {
                width: 100%;
                border: 1px solid #ebebeb;
                margin-top: -5px;
                margin-bottom: -5px;
            }

            .musictitle {
                color: #D5D30F;
                font-weight: 700;
            }
        }
    }

    .musicslidecontainer:hover {
        background-color: #D5D30F;

        .mcstroke {
            border: 1px solid #161616;
        }

        .musictitle {
            color: #161616;
        }

        .musictext {
            color: #161616
        }
    }

    .swiper-slide {
        display: flex;
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;
    }

    .musicbutton {
        padding-left: 0px;
        padding-right: 0px;
    }

    /* tour */
    .toursection {
        min-height: 580px;
        padding-top: 15px;
        padding-bottom: 60px;
    }

    .tourcontainer {
        padding-bottom: 50px;
        height: 420px;
    }

    .tourcontainert {
        text-align: center;
    }

    .tourcontainerb {
        align-items: center;
        justify-items: center;
    }

    /* video */
    .videosection {
        background-color: #161616;
        height: fit-content;
        padding-bottom: 100px;
        justify-items: center;
    }

    .videocontainer {
        padding-top: 50px;
        height: 100%;
        justify-items: center;
        align-items: center;
    }

    .videocontainerb {
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .mainvideo {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .videosubtitle {
        margin-top: 5px;
        font-weight: 700;
    }

    .videodescription {
        width: 90%;
        margin-top: 0px;
        color: #A3A3A3;
    }

    .videobutton {
        width: 90%;
        justify-self: center;
        margin-top: 5px;
    }

    .videovideocontainer {
        justify-items: center;
        align-items: center;
    }

    .videosubvideo {
        display: none;
    }
}