body {
  margin: 0;
  background-color: #161616;
  font-family: Arial, sans-serif;
}

.musicBackground {
  height: 100vh;
  width: 100%;
  background: url("../images/music/musichero2.png") no-repeat center center;
  background-color: #161616;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.musicTitle {
  color: white;
}

.wrapper {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 530px;
  background-color: #161616;
}

.wrapper2 {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 530px;
  background-color: #161616;
}

/*  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 530px;
    background-color: #161616;    */

.singletitle {
  margin-left: 20px;
}

.single {
  border: none;
  outline: none;
  background-color: #161616;
  height: 411px;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.single:hover {
  background-color: #d5d30f;
}

.single:hover .underpour {
  color: #161616;
}

.single:hover .pour {
  color: #161616;
}

.single:hover .mcstroke {
  border: 0.5px solid #161616;
  width: 100%;
}

.single img {
  margin-bottom: 10px;
  /* Space between image and text */
}

.details {
  color: white;
  text-align: center;
}

.container1 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.pour {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: -10px;
  color: #d5d30f;
}

.container2 {
  gap: 140px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.underpour {
  font-size: 12px;
  color: #ebebeb;
}

.mcstroke {
  border: 0.5px solid #ebebeb;
  box-sizing: border-box;
  width: 250px;
}

.albumtitle {
  justify-content: flex-start;
}

.album {
  border: none;
  outline: none;
  background-color: #161616;

  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.album:hover {
  background-color: #d5d30f;
}

.album:hover .underaustin {
  color: #161616;
}

.album:hover .austin {
  color: #161616;
}

.album:hover .mcstroke {
  border: 0.5px solid #161616;
}

.albumbigfamily {
  display: flex;
  height: 403px;
  width: 100%;
  flex-direction: row;
  gap: 30px;
}

.austin {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: -10px;
  color: #d5d30f;
}

.underaustin {
  font-size: 12px;
  color: #ebebeb;
  text-align: left;
  flex-direction: row;
}

.container3 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.container4 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
}

.container5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.gap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.underaustinspecial {
  font-size: 12px;
  color: #ebebeb;
  text-align: right;
  flex-direction: row;
}

.album:hover .underaustinspecial {
  color: #161616;
}

/*-----------------------------mobile------------------------------*/

@media screen and (max-width: 700px) {
  .albumbigfamily {
    flex-direction: column;
  }

  .wrapper2 {
    height: 1300px;
  }
}
