body {
    background-color: #161616;
}

h1 {
    color: #D5D30F;
    font-family: Oswald;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

/*tour 1*/
.Tour1 {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    background-image: url(file:///c%3A/Users/junxl/OneDrive/%E6%A1%8C%E9%9D%A2/ongzhihan.github.io/web/images/tour/tour1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    font-family: Roboto;
    font-weight: Bold;
}



.Tour1 h2 {
    color: white;
    display: flex;
    justify-content: flex-start;
    font-size: 96pt;
    text-align: start;
    width: 200px;
    margin: 20px;
    line-height: 130px;
    padding-bottom: 80px;
}


.tour1dateandlocation {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin: 20px;
    padding-bottom: 40px;
    padding-top: 80px;
    font-size: 14px;
    margin-bottom: 20px;
    color: white;

}

.viewmore {
    color: #a3a3a3;
}

@media screen and (max-width: 600px) {

    .Tour1 {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        height: 100%;
        display: block;
        justify-items: center;

    }

    .Tour1 h2 {
        font-size: 42px;
        line-height: 40px;
        padding-top: 10px;
        display: flex;
        justify-items: center;
        text-align: center;
        flex-direction: column;
        padding-bottom: 0px;
    }

    .tour1dateandlocation {
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 0px;
        line-height: 40px;
    }

    .viewmore {
        margin-bottom: 20px;
        padding-top: 10px;
    }



}