body {
    background-color: #161616;
}

h2 {
    color: white;
}

/*tour 1*/
.Tour {
    margin-left: 10px;
    margin-right: 10px;
}

.T1 {
    background-image: url(images/tour/tour1.jpeg);

}

.Tour h1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.Tour h2 {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size: 96px;
    width: 30px;
    line-height: auto;
    text-align: left;
    margin: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.T1 p {
    padding-left: 20px;
    display: flex;
    margin-top: 20px;
}

.p2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    align-items: flex-end;
    margin-right: 10px;
}




/*tour 2*/


.T2 p {
    justify-content: flex-end;
    padding-left: 25px;
}


.T2 {
    background-image: url(images/tour/tour2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    justify-content: center;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}