body {
    background-color: #161616;
}

.title {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.mainvideocontainer {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
}

.maininfo {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.mainvideo {
    width: 55%;
}

.videoname {
    color: #D5D30F;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
}

.videodescription {
    color: #a3a3a3;
    letter-spacing: 0.8px;
}

.videobutton {
    width: 80% !important;
    padding-left: 0px;
    padding-right: 0px;
}

/* other videos */
.othervideossection {
    height: fit-content;
    padding-bottom: 80px;
}

.subvideocontainerrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subvideocontainer {
    width: 33.2%;
    border: #a3a3a3;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 20px 0px;
}

.subvideo {
    aspect-ratio: 16/9;
}

.subvideoname {
    color: #D5D30F;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
    padding: 7px 0px 3px 0px;
}

.subvideodescription {
    margin: 0px;
}

.removeleftsroke {
    border-left: 0px;
}

.removerightsroke {
    border-right: 0px;
}

@media screen and (max-width: 1220px) {
    .mainvideo {
        width: 55%;
    }

    .subvideocontainer {
        width: 49.8%;
        border: #a3a3a3;
        border-style: solid;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding: 20px 0px;
    }
}

@media screen and (max-width: 810px) {
    .subvideocontainer {
        width: 50%;
        border: #a3a3a3;
        border-style: solid;
        border-width: 1px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding: 30px 0px;
    }
}

@media screen and (max-width: 700px) {
    .mainvideocontainer {
        flex-direction: column-reverse;
    }

    .reverse {
        flex-direction: column !important;
    }

    .maininfo {
        padding-top: 20px;
        width: 100%;
    }

    .mainvideo {
        width: 100%;
    }

    .videoname {
        margin-bottom: -10px;
    }

    .videodescription {
        text-align: center;
    }

    .videobutton {
        width: 100% !important;
    }

    .subvideocontainer {
        width: 100%;
        border: #a3a3a3;
        border-style: solid;
        border-width: 1px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding: 30px 0px;
    }
}