body {
    background-color: #161616;
}

.videocontainert {
    height: fit-content;
    justify-items: center;
}

.videotitlecontainer {
    width: 90%;
    text-align: center;
}

.titlemargintop {
    margin-top: 10px;
}

.videobutton {
    border: none;
    background-color: #161616;
}

.video {
    margin-top: 20px;
    width: 1200px;
    height: auto;
}

.videocontainerb {
    padding-top: 50px;
    justify-self: center;
    width: 1200px;
    display: flex;
    gap: 120px;
}

.videocontainerbl {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.videocontainerbr {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
}

.text {
    color: #a3a3a3;
    letter-spacing: 1.4px;
    line-height: 130%;
}

.textjustify {
    text-align: justify;
}

.year {
    display: flex;
    justify-content: space-between;
}

.creditscontainer {
    display: flex;
    justify-content: space-between;
}

.creditsl {
    font-family: Roboto;
    color: #a3a3a3;
    text-align: left;
    font-weight: 700;
    line-height: 130%;
}

.creditsr {
    font-family: Roboto;
    color: #a3a3a3;
    text-align: right;
    line-height: 130%;
}

.arrow1 {
    padding-top: 50px;
    margin: 40px;
    display: flex;
    justify-content: end;
}

.arrow2 {
    padding-top: 50px;
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrowbutton {
    border: none;
    background-color: #161616;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-items: center;

    .boldtext {
        font-weight: 700;
        padding: 10px;
    }
}

.arrowbutton:hover {
    border: none;
    background-color: #161616;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-items: center;

    .boldtext {
        color: #D5D30F;
        font-weight: 700;
        padding: 10px;
    }
}

.modal {
    display: none;
    z-index: 1;
    padding-top: 100px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .titlemargintop {
        margin-top: -6px;
    }

    .video {
        margin-top: 10px;
        width: 480px;
        justify-self: center;
        align-self: center;
    }

    .videocontainerb {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        align-self: center;
        display: flex;
        flex-direction: column;
    }

    .videocontainerbl {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
    }

    .videocontainerbr {
        margin-top: -100px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
    }

    .title {
        text-align: left;
    }

    .lyrics {
        text-align: left !important;
        letter-spacing: 1px;
    }

    .arrow {
        margin-left: 40px;
        margin-right: 40px;
    }
}