p {
    color: #EBEBEB;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
}

/* header */
header {
    position: fixed;
    top: 0px;
    width: 100%;
    background: #161616;
    height: 59px;
    display: flex;
    justify-content: space-between;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    align-items: center;
    z-index: 999;
}

.headerflex {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.headercontainer {
    margin-left: 40px;
    margin-right: 40px;
}

.logo {
    border: none;
    outline: none;
    background-color: #161616;
    color: #EBEBEB;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    text-transform: uppercase;
}

.submenu {
    float: left;
    overflow: hidden;
}

.submenubtn {
    border: none;
    outline: none;
    color: #ebebeb;
    background-color: #161616;
    display: flex;
    align-items: center;
    z-index: 999;
}

.subcontent {
    display: none;
    position: absolute;
    z-index: 999;
    text-align: left;
}

.subcontent a {
    padding: 16px;
    padding-left: 8px;
    background-color: #161616;
    color: #EBEBEB;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.subcontent a:hover {
    background-color: #D5D30F;
    color: #161616;
    z-index: 1;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
}

.submenu:hover .subcontent {
    display: block;
}

.submenu .subcontent {
    color: #EBEBEB;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
}

/* header end */

.iconmargin {
    margin-left: 2px;
}

.ebebeb {
    fill: #EBEBEB;
}

h1 {
    color: #D5D30F;
    font-family: Oswald;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    margin: 0px;
}

.yellowbutton {
    height: 34px;
    border: 1px solid #D5D30F;
    align-items: center;
    align-content: center;
    z-index: 1;
    background-color: #161616;
    color: #D5D30F;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.whitestroke {
    border: 1px solid #ebebeb;
    margin: 0px;
}