.hero {
    height: 750px;
    margin-top: -8px;
    margin-left: -8pt;
    margin-right: -8pt;
    align-items: center;
}

#herovideo {
    margin-top: 59px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 708px;
    object-fit: cover;
    object-position: center;
    z-index: -2;
    filter: brightness(0.8);
}

.blackgradient {
    background: linear-gradient(180deg, #161616 0%, rgba(33, 33, 33, 0.00) 100%);
}

.title {
    margin-top: 170px;
    color: #D5D30F;
    font-family: Oswald;
    font-size: 222px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: -4.44px;
    text-transform: uppercase;
    align-self: center;
    z-index: 1;
}

.section {
    background: #161616;
    padding-top: 15px;
    height: 766px;
    margin-left: -8px;
    margin-right: -8px;
    z-index: -10;
}

.container {
    position: relative;
}

/* about */

.carouselcontainer {
    padding-top: 49px;
}

.swiperwrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/* music */

.musiccontainer {
    border: none;
    outline: none;
    background-color: #161616;
    width: 4000px;
    height: 495px;
    justify-items: center;

    .mcdetails {
        position: relative;
        width: 353px;
        height: 102px;
    }

    .mcstroke {
        position: absolute;
        width: 353px;
        border: 1px solid #ebebeb;
    }

    .musictitle {
        position: absolute;
        color: #D5D30F;
        font-weight: 700;
        top: 3px;
    }

    .musictext {
        color: #ebebeb
    }
}

.musiccontainer:hover {
    background-color: #D5D30F;

    .mcdetails {
        position: relative;
        width: 353px;
        height: 102px;
    }

    .mcstroke {
        border: 1px solid #161616;
    }

    .musictitle {
        color: #161616;
    }

    .musictext {
        color: #161616
    }
}

.musiccarousel {
    display: flex;
    gap: 20px;
}