// Single
color: #D5D30F;
 font-size: 40px;
 font-family: Oswald;
 font-weight: 700;
 text-transform: uppercase;
 line-height: 36px;
 word-wrap: break-word
---
// Albums
color: #D5D30F;
 font-size: 40px;
 font-family: Oswald;
 font-weight: 700;
 text-transform: uppercase;
 line-height: 36px;
 word-wrap: break-word
---
// AUSTIN
color: #D5D30F;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 700;
 word-wrap: break-word
---
// 2023 - Album
color: #EBEBEB;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Folk / Country / Rap / Pop / R&B
color: #EBEBEB;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// 51 Min 47 Sec
color: #EBEBEB;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Pour Me A Drink ft. Blake Shelton
color: #D5D30F;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 700;
 word-wrap: break-word
---
// 2024 - Single
color: #EBEBEB;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Country
color: #EBEBEB;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// 2 Min 58 Sec
color: #EBEBEB;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Twelve Carat Toothache
color: #D5D30F;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 700;
 word-wrap: break-word
---
// 2022 - Album
color: #EBEBEB;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Folk / Country / Rap / Pop / R&B
color: #EBEBEB;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// 43 min 18 sec
color: #EBEBEB;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Beerbongs & Bentleys
color: #D5D30F;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 700;
 word-wrap: break-word
---
// 2018 - Album
color: #EBEBEB;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Folk / Country / Rap / Pop / R&B
color: #EBEBEB;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// 1 Hr 4 Min
color: #EBEBEB;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Music
color: #EBEBEB;
 font-size: 96px;
 font-family: Oswald;
 font-weight: 700;
 text-transform: uppercase;
 line-height: 86.40px;
 word-wrap: break-word
---
// POST MALONE
color: #161616;
 font-size: 220px;
 font-family: Oswald;
 font-weight: 700;
 text-transform: uppercase;
 line-height: 198px;
 word-wrap: break-word
---
// Subscribe For Updates!
color: #161616;
 font-size: 70px;
 font-family: Oswald;
 font-weight: 700;
 text-transform: uppercase;
 line-height: 63px;
 word-wrap: break-word
---
// © 2024 Post Malone
color: #161616;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word
---
// Instagram
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// X(Twitter)
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Tik Tok
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Discord
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Facebook
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Youtube
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Twitch
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Home
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// About
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Music
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Tour
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Videos
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Contact
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Contact
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 700;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Menu
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 700;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Subscribe to Emails Updates from:
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Republic Records
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Post Malone
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Emails will be sent by or on behalf of Universal Music Group 2220 Colorado Avenue, Santa Monica , CA 90404 (310) 865-4000. You may withdraw our consent at any time
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 18.93px;
 letter-spacing: 0.56px;
 word-wrap: break-word
---
// Your Email Address
color: #161616;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 12.60px;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Pm
color: #EBEBEB;
 font-size: 20px;
 font-family: Oswald;
 font-weight: 700;
 text-transform: uppercase;
 word-wrap: break-word
---
// Home
color: white;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word
---
// About
color: white;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word
---
// Music
color: white;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word
---
// Tour
color: white;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word
---
// Videos
color: white;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word
---
// Contact
color: white;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word