p {
    color: #EBEBEB;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
}

/* header */
header {
    background: #161616;
    height: 59px;
    display: flex;
    justify-content: space-between;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    align-items: center;
}

.headerflex {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.headercontainer {
    margin-left: 40px;
    margin-right: 40px;
}

.logo {
    border: none;
    outline: none;
    background-color: #161616;
    color: #EBEBEB;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    text-transform: uppercase;
}

.submenu {
    float: left;
    overflow: hidden;
}

.submenubtn {
    border: none;
    outline: none;
    color: #ebebeb;
    background-color: #161616;
    display: flex;
    align-items: center;
}

.subcontent {
    display: none;
    position: absolute;
    z-index: 999;
}

.subcontent a {
    width: 183px;
    height: 35.75px;
    padding-left: 8px;
    background-color: #161616;
    color: #EBEBEB;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.subcontent a:hover {
    background-color: #D5D30F;
    color: #161616;
    z-index: 1;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
}

.submenu:hover .subcontent {
    display: block;
}

.submenu .subcontent {
    color: #EBEBEB;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
}

/* header end */

.iconmargin {
    margin-left: 2px;
}

.ebebeb {
    fill: #EBEBEB;
}

.section {
    position: relative;
    background: #161616;
    height: 746px;
    margin-left: -8px;
    margin-right: -8px;
}

h1 {
    color: #D5D30F;
    font-family: Oswald;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 100px
}

body {
    background-color: #161616;
}

h2 {
    color: white;

}

.tour1 {
    display: flex;
    justify-content: center;
    display: block;
    justify-items: center;
    padding-bottom: 20px;

}

.tour1 h2 {
    display: flex-start;
    text-align: start;
    width: 50px;

}

.tou1 p {
    text-align: start;
}